.card {
    width: 100%;
    
    background: #313846;

    padding: 16px;

    border: 1px solid #313846;
    border-radius: 14px;

    overflow: hidden;

    transition:
        border-color .25s ease,
        box-shadow .25s ease,
        transform .25s ease;

    height: 250px !important;
}

.card:hover {

    border-color: #38bdf8;

    box-shadow: 0 10px 24px rgba(0,0,0,.18);

    transform: translateY(-2px);

}