.community-page{

width:100%;

min-height:100vh;

padding:24px;

background:var(--bg);

}

.community-layout{

max-width:1600px;

margin:auto;

display:grid;

grid-template-columns:260px minmax(650px,800px) 300px;

justify-content:center;

align-items:start;

gap:24px;

}

.community-left{

position:sticky;

top:calc(var(--navbar_height) + 20px);

}

.community-feed{

display:flex;

flex-direction:column;

gap:24px;

}

.community-right{

position:sticky;

top:calc(var(--navbar_height) + 20px);

display:flex;

flex-direction:column;

gap:20px;

}

@media (max-width:1400px){

.community-layout{

grid-template-columns:240px 1fr 280px;

}

}

@media (max-width:1150px){

.community-layout{

grid-template-columns:240px 1fr;

}

.community-right{

display:none;

}

}

@media (max-width:850px){

.community-layout{

grid-template-columns:1fr;

}

.community-left{

display:none;

}

.community-page{

padding:16px;

}

}
