.setting-page-container{
    width: 100%;
    display: flex;
    gap: 30px;
}
.content-heading{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--border);
}
.setting-page-content{
    width: 100%;
}