.faq{
    background:#f5f5f5;

    border-radius:12px;

    margin-bottom:12px;

    overflow:hidden;
}

.question{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 30px;

    cursor:pointer;

    font-size:18px;

    font-weight:600;

    color:#2C2F3A;
}

.plus{
    font-size:24px;
    font-weight:bold;
}

.answer{

    padding:0px 30px 20px;

    color:#6E7A88;

    line-height:1.6;
}