.achievement-section{
    background-color: var(--surface);
    border: 1px solid var(--border);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.achievement-header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.achievement-header>div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;border: 1px solid var(--border);

}
.achievement-header>h3{
    font-size: 16px;
}

.achievement-list-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.achievement-list-container>div:nth-child(2){
    color: var(--text-primary);
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 10px;
    border: 1px solid var(--border);
}

.achievements-list{
    display: flex;
    align-items: center;
    gap: 20px;
}

.achievements-icons{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid var(--border);
}
.achievements-list h3{
    font-size: 14px;
}
.achievements-list span{
    font-size: 12px;
    color: var(--text_secondary);
}