.emergencyContact-section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--border);
    border-radius: 20px;
    background-color: var(--surface);
}
.emergency-header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.emergency-header>div{
    border: 1px solid var(--border);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff3444;
    background-color: #f4abc1;
    font-size: 20px;
}

.emergencyContact-details{
    display: flex;
    align-items: center;
    gap: 10px;
}
.emergencyContact-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 1px solid var(--border);
    border-radius: 20px;
}

.emergency-info{
    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.emergency-name>h3{
    font-size: 15px;
}
.emergency-name>span{
    font-size: 11px;
}

.emergency-phone-number,
.emergency-email{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 35px;
    border: 1px solid var(--border);
    border-radius: 10px;
}

.emergency-phone-number>div,
.emergency-email>div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.emergency-phone-number>div span,
.emergency-email>div span{
    font-size: 12px;
    color: var(--text_secondary);
}

.emergency-phone-number>div:nth-child(2),
.emergency-email>div:nth-child(2){
    font-size: 14px;
}

.emergencyContact-edit{
    padding: 15px;
    border: 1px solid var(--border);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emergencyContact-edit>button{
    background-color: transparent;
    color: var(--text_secondary);
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
}