.faqContainer {

    width: 90%;

    max-width: 1400px;

    margin: auto;

    padding: 60px 0;
}

.faqContainer h1 {

    text-align: center;

    margin-bottom: 40px;

    font-size: 42px;

    color: var(--text_primary);
}

.faqGrid {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 30px;
}

.faqColumn {

    display: flex;

    flex-direction: column;

    gap: 12px;
}
@media (max-width: 768px) {

    .faqGrid {

        grid-template-columns: 1fr;
    }
}