.calendarSidebar{

    display:flex;

    flex-direction:column;

    gap:20px;

    width:100%;

}

.calendarSidebar > *{

    background:#2d333f;

    border:1px solid #40495d;

    border-radius:16px;

    overflow:hidden;

    transition:.25s;

}

.calendarSidebar > *:hover{

    border-color:#38bdf8;

}

@media(max-width:1200px){

.calendarSidebar{

    margin-top:20px;

}

}