.socialLink-section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid var(--border);
    border-radius: 20px;
    background-color: var(--surface);
}

.socialLink-header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.socialLink-header>div:nth-child(1){
    width: 5%;
    padding: 7px;
    border: 1px solid var(--border);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialLink-header>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.socialLink-header>h3{
    font-size: 18px;
}

.socialLink-btn{
    padding: 7px 15px;
    border-radius: 7px;
    color: var(--text_secondary);
    background: var(--surface);
    border: 1px solid var(--border);
}

.socialLink-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.socialLink-list{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border);
    border-radius: 10px;
}

.socialLink-list>div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.socialLink-list>div>div:nth-child(1){
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialLink-list>div>div:nth-child(2) p{
    font-size: 14px;
    color: var(--text_primary);
}
.socialLink-list>div>div:nth-child(2) a{
    font-size: 12px;
    color: var(--text_secondary);
}

.socialLink-left{
    width: 90%;
}

.socialLink-info{
    width: 100%;
}

.socialLink-info input{
    padding: 4px 10px;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--border);
    outline: none;
    color: var(--text_primary);
    border-radius: 7px;
    font-size: 10px;
}

.no-social-link{
    color: var(--text_secondary);
    font-size: 11px;
}


.socialLink-actions>button{
    padding: 10px 15px;
    border-radius: 7px;
    background: var(--surface);
    border: 1px solid var(--border);
    color: var(--text_secondary);
}